/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body,
p {
    font-family:  "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;

}

/* bootstrap fixes */
.table thead tr.success th {
    background-color: #dff0d8;
}

.table thead tr.error th {
    background-color: #f2dede;
}

.table thead tr.warning th {
    background-color: #fcf8e3;
}

.table thead tr.info th {
    background-color: #d9edf7;
}

.table tfoot tr.success td {
    background-color: #dff0d8;
}

.table tfoot tr.error td {
    background-color: #f2dede;
}

.table tfoot tr.warning td {
    background-color: #fcf8e3;
}

.table tfoot tr.info td {
    background-color: #d9edf7;
}

.table tfoot tr td {
    text-align: center;
}

.pager a,
.pager span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Wrapper */

#wrapper {
    margin: 0 auto;
    padding: 0px;
    width: 880px;
    position: relative;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    margin-top: 100px;
    margin-bottom: 100px;
}

#header, #page, #footer {
    padding: 15px;
}

/* Header */

#header {
    width: 850px;
    height: 80px;
    margin: 0 auto 10px auto;
}

#logo {
    float: left;
    height: 80px;
    display: inline;
}

#logo h1 {
    font-size: 38px;
    color: #494949;
}

#logo h1 sup {
    vertical-align: text-top;
    font-size: 24px;
}

#logo h1 a {
    color: #494949;
}

#logo h2 {
    margin-top: -10px;
    font-size: 12px;
    color: #A0A0A0;
}

#logo a {
    text-decoration: none;
}

/* Menu */

#menu {
    margin: auto 15px;
    display: inline-block;
    clear: both;
    border-bottom: 3px solid #ABAB00;
    width: 595px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    display: block;
    float: left;
    background: #AACCBB;
    margin-left: 5px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
}

#menu a:hover {
    /*text-decoration: underline;*/
    background: #ABAB00;
}

#menu a,
#menu a:hover {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

#menu .active a {
    background: #ABAB00;
}

/* Page */

#page {
    width: 850px;
    margin: 0 auto;
}

/* Content */

#content {
    float: left;
    width: 595px;
    display: inline;
}

/* Post */

.post {
    padding-bottom: 15px;
}

.post .title {
    margin-bottom: 20px;
    padding-bottom: 5px;
    background: url(img/img11.gif) no-repeat right 50%;
    border-bottom: 1px dotted #D1D1D1;
}

.post .entry {
}

.post .entry p {
    font-size: 13px;
}

.post .entry li {
    color: #7BAA0F;
}

.post .meta {
    padding: 15px 0 60px 0;
    background: url(img/img03.gif) repeat-x;
}

.post .meta p {
    margin: 0;
    line-height: normal;
    color: #999999;
}

.post .meta .byline {
    float: left;
}

.post .meta .links {
    float: right;
}

.post .meta .more {
    padding: 0 20px 0 18px;
    background: url(img/img06.gif) no-repeat left center;
}

.comments {
    padding-left: 22px;
    background: url(img/img07.gif) no-repeat left center;
}

.post .meta .comments {
    padding-left: 22px;
    background: url(img/img07.gif) no-repeat left center;
}

.post .meta b {
    display: none;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 200px;
    display: inline;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul ul {
    margin: 0.2em 0 1.2em 0;
    border-top: 4px solid #77B42E;
    background-color: #FAFAF0;
}

#sidebar li {
    margin-bottom: 15px;
}

#sidebar li ul {
}

#sidebar li li {
    margin: 0;
    padding-left: 12px;
    background: url(img/img12.gif) no-repeat left 50%;
}

#sidebar h2 {
    margin: 1.2em 0 0 0;
    display: inline;
    font-size: 1.3em;
    font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
    color: #77B42E;
    font-weight: bold;
}

/* Search */

#search {
    float: right;
    margin: 20px 20px 0 0;
    display: inline-block;
}

#search h2 {
    margin-bottom: 20px;
}

#s {
    width: 120px;
    margin-right: 5px;
    padding: 3px;
    color: #494949;
    border: 1px solid #9DADC5;
    background: transparent;
    outline: none;
    background: url(img/login_btn.png) no-repeat scroll -1px -97px white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#s:focus,
#s:hover {
    border: 1px solid #9BBBDA;
    box-shadow: 0 0 5px rgba(110, 189, 222, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(110, 189, 222, 0.5);
    -moz-box-shadow: 0 0 5px rgba(110, 189, 222, 0.5);
}

#x {
    padding: 3px;
    background: #ECECEC url(img/login_btn.png) repeat-x left bottom;
    background-position: 0 -1px;
    text-transform: lowercase;
    border: 0;
    border-color: #6B9F11 #54850A #386601;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#x:hover {
    background-position: 0 -32px;
    box-shadow: 0 0 3px rgba(84, 133, 10, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(84, 133, 10, 0.5);
    -moz-box-shadow: 0 0 3px rgba(84, 133, 10, 0.5);
}

#x:active {
    background-position: 0 -64px;
}

/* Boxes */

.box1 {
    padding: 20px;
    background: url(img/img05.gif) no-repeat;
}

.box2 {
    color: #BABABA;
}

.box2 h2 {
    margin-bottom: 15px;
    background: url(img/img10.gif) repeat-x left bottom;
    font-size: 16px;
    color: #FFFFFF;
}

.box2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited {
    color: #EDEDED;
}

/* Footer */

#footer {
    margin: 0 auto;
    width: 850px;
    height: 400px;
    min-height: 74px;
    background: #003448 url(img/img09.gif) repeat-x;
    display: inline-block;
    clear: both;
}

html>body #footer {
    height: auto;
}

#legal {
    clear: both;
    padding-top: 30px;
    text-align: center;
    color: #8ADE3C;
}

#legal a {
    color: #76D424;
}

/* LoginPage Page */

