/* Pager */
p.pager_container {
    /*position: absolute;
    bottom: 90px;*/
    margin-top: 10px;
}

.pager_container .pager {
    margin-right: 15px;
    padding: 4px;
    background: #ECECEC url(img/login_btn.png) repeat-x left bottom;
    background-position: 0 -1px;
    text-transform: lowercase;
    border: 0;
    border-color: #6B9F11 #54850A #386601;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.pager_container .pager:hover {
    background-position: 0 -32px;
    box-shadow: 0 0 3px rgba(84, 133, 10, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(84, 133, 10, 0.5);
    -moz-box-shadow: 0 0 3px rgba(84, 133, 10, 0.5);
}

.pager_container .pager:active {
    background-position: 0 -64px;
}

.pager_container .pager a {
    color: #FFFFFF;
    font-weight: bold;
}